.CredInput{
    float: right;
  margin-right: 5px;
}

input.ng-touched:placeholder-shown{
  border-color: red;
}

.currentUserDiv{
  margin-right: 20px;
  float: right;
}

.currentUserLabel{
  font-size: 23px;
}

