<div *ngIf='testsList'>
  <div>
    <ul *ngFor='let test of testsList'>
      <li (click)='isShowTestQuestionsValueChange(test)'>
        <span>{{test.Name}}</span>{{test.Description}}
      </li>
    </ul>
  </div>
  <div *ngIf='isShowTestQuestions'>
    <ul *ngFor='let question of selectedTest.Questions' (click)='selectedQuestionGetAnswers(question)'>
      <li>{{question.Instance}}</li>
    </ul>
  </div>
  <div *ngIf='selectedQuestionAnswers'>
    <ul *ngFor='let answer of selectedQuestionAnswers'>
      <li>
        {{answer.Instance}}
      </li>
    </ul>
  </div>
  <div *ngIf='selectedQuestionAnswers'>
    <div>
      <label>Instance: </label>
      <input type='text' [(ngModel)]='_instance'>
    </div>
    <div>
      <label>Is correct:</label>
      <input type='radio' value='true'>True
      <input type='radio' value='false'>False
    </div>
    <button type='button' (click)='CreateAnswer()'>Add</button>
  </div>

</div>