<div>

  <div>
    <button  type='button' routerLink='/AdminPanel/ManageQuestions'>Manage Questions</button>
    <button type='button' routerLink='/AdminPanel/UpdateQuestion'>Update Question</button>
    <button type='button' routerLink='/AdminPanel/ManageTests'>Manage Tests</button>
    <button type='button'routerLink='/AdminPanel/EditTest'>Update Test</button>
    <!-- <button type='button'>RemoveTest</button>
    <button type='button'>CreateTestingUrl</button>
    <button type='button'>RemoveTestingUrl</button>
    <button type='button'>RemoveTestingResult</button> -->

  </div>
  <div >
      <router-outlet></router-outlet>
  </div>
  
</div>