<div>
  <div *ngIf='testsList'>
    <ul *ngFor='let test of testsList'>
      <li>
        <input type='radio' value=test.Guid (click)="selectTest(test)">
        <label>{{test.Name}}<br></label>
        <label>{{test.Description}}</label>
        <!-- <div>
        <ul *ngFor='let question of test.Questions'>
          <li>{{question.Instance}}</li>
        </ul>
      </div> -->
      </li>
    </ul>
  </div>
  <div>
    <button type='button' (click)='startTest()' [disabled]='!selectedTest'>Start test</button>
  </div>
</div>