.HomePageHeader{
text-align: center;
color:white;
-webkit-text-stroke-color: black;
-webkit-text-stroke-width: 1px;
margin-top: 10px;
}
.MainPageLoginDiv
{
    width:100%;
    height: 50px;
    margin-top: 15px;
    padding-right: 30px;

}


