<div *ngIf='selectedTest'>
  <div>
    <div *ngIf='selectedTest'>
      <div *ngIf='selectedTest.Questions'>
        <div *ngFor='let question of selectedTest.Questions'>
          <div  (click)='selectQuestion(question)'>
            <label> {{question.Instance}}</label>
            <button  type='button' (click)='editAnswers(selectedTest.Guid,question.Guid)'  >Edit</button>
            <button type='button' (click)='removeQuestion(selectedTest.Guid,question.Guid)'>Remove</button>
          </div>
          <!-- <div *ngIf='isShowAddAnswer'>
            <div>
              <label>Instance: </label>
              <input type='text' [(ngModel)]='newAnswer.Instance' routerLink='EditAnswers/{{question.Guid}}'>
            </div>
            <div>
              <label>Is correct:</label>
              <input type='radio' value='true' [(ngModel)]='newAnswer.IsCorrect'>True
              <input type='radio' value='false' [(ngModel)]='newAnswer.IsCorrect'>False
            </div>
            <button type='button' (click)='addAnswer(selectedQuestion.Guid)'>Confirm</button>
          </div> -->
        </div>

      </div>
      <div *ngIf='selectedTest.Questions.length===0'>
        <label>No questions</label>
      </div>
    </div>

    <button (click)='isShowAddQuestionValueChange()'>Add question</button>
    <div *ngIf='isShowAddQuestionDiv'>
      <div>
        <label>Instance:</label>
        <input type='text' [(ngModel)]='newQuestion.Instance'>
      </div>
      <div>
        <label>Hint:</label>
        <input type='text' [(ngModel)]='newQuestion.Hint'>
      </div>
      <div>
        <button type='button' (click)='confirmAddQuestion(newQuestion)'>Confirm</button>
      </div>
    </div>
  </div>
</div>