<div *ngIf="selectedTest">
  <div>
    <div *ngIf="selectedTest">
      <div *ngIf="selectedTest.Questions">
        <form #createQuestionForm="ngForm">
        <table class="table">
          <tr>
            <td>
              <button (click)="isShowAddQuestionValueChange()">Add question</button>
            </td>
            <td></td>
            <td></td>
          </tr>

          <tr class="tableRow">
            <th>Instance</th>
            <th></th>
            <th></th>
          </tr>
          <tr *ngIf="isShowAddQuestionDiv" class="tableRow">
            <td><input class="form-control" type="text" name="questionInstance" [(ngModel)]="newQuestion.Instance" placeholder="Instance" required></td>
            <td><input class="form-control" type="text"name="questionHint" [(ngModel)]="newQuestion.Hint" placeholder="Hint" required></td>
            <td><button class="btn" type="button" (click)="confirmAddQuestion(newQuestion)" style="float: right;" name="createQuestionConfirm" [disabled]="!createQuestionForm.form.valid">Confirm</button></td>
          </tr>
          <tr *ngFor="let question of selectedTest.Questions" class="tableRow">
            <td>{{question.Instance}}</td>
            <td><button class="btn" style="float: right;" type="button" (click)="editAnswers(selectedTest.Guid,question.Guid)">Edit answers</button></td>
            <td><button class="btn" style="float: right;" type="button" (click)="removeQuestion(selectedTest.Guid,question.Guid)">Remove question</button></td>
          </tr>
        </table>
      </form>
      </div>
    </div>
  </div>