
    <form #editQuestionForm="ngForm">
      <div>
  <div>
    <ul *ngFor='let test of testsList'>
      <li (click)='selectTest(test)'>{{test.Name}}</li>

      <ul *ngFor='let question of questionsList'>
        <li (click)='selectQuestion(question)' *ngIf='selectedTest===test'>{{question.Instance}}</li>
      </ul>

    </ul>
  </div>
  <div *ngIf='selectedQuestion'>

      <div>
        <label>Instance: </label>
        <input type='text' name='instanceInput' [(ngModel)]='selectedQuestion.Instance' class='form-control' required>
      </div>
      <div>
        <label>Hint: </label>
        <input type='text' class='form-control' name='hintInput' [(ngModel)]='selectedQuestion.Hint' required>
      </div>
      <button [disabled]='!editQuestionForm.form.valid' (click)='confirmEdit()'>Confirm</button>
  </div>
</div>
</form>