<div>
  <div>
    <form #createTestForm='ngForm'>
    <table>
      <tr>
        <td>Test name</td>
        <td>Description</td>
        <td>Test length</td>
        <td>Time per question</td>
      </tr>

      <tr *ngFor='let test of testsList'>
        <td>{{test.Name}}</td>
        <td>{{test.Description}}</td>
        <td>{{test.TestTimeLimit}}</td>
        <td>{{test.QuestionTimeLimit}}</td>
        <td><a routerLink='../EditTest/{{test.Guid}}'>Update test</a></td>
        <td><button type='button' (click)='removeTest(test)'>Delete</button></td>
      </tr>
      <tr *ngIf='isShowAddTest'>
        <td><input type='text' [(ngModel)]='newTest.Name' name='testNameInput' required></td>
        <td><input type='text' [(ngModel)]='newTest.Description' name='testDescriptionInput' required></td>
        <td><input type='time' [(ngModel)]='newTest.TestTimeLimit' step="1" name='testTime' required></td>
        <td><input type='time' [(ngModel)]='newTest.QuestionTimeLimit' step="1" name='questiontime' required></td>
        <td><button (click)='confirmAddTest()' type='button' [disabled]='!createTestForm.form.valid'>Confirm</button></td>
        <td><button type='button' (click)='cancelNewTest()'>Cancel</button></td>
      </tr>
    </table>
  </form>
    <button (click)='showAddTestValueChange()'>Add test</button>
    <!-- <div *ngIf='showAddTest'>
      <div>
        <label>Name: </label>
        <input type='text' [(ngModel)]='newTest.Name'>
      </div>
      <div>
        <label>Description: </label>
        <input type='text' [(ngModel)]='newTest.Description'>
      </div>
      <div>
        <label>Test Time Limit: </label>
        <input type='time' [(ngModel)]='newTest.TestTimeLimit'>
      </div>
      <div>
        <label>Question Time Limit: </label>
        <input type='time' [(ngModel)]='newTest.QuestionTimeLimit'>
      </div>
      <button (click)='confirmAddTest()'>Comfirm</button>
    </div>
  </div> -->

  </div>