<div>
  <div>
    <table>
      <tr>
        <button (click)='confirmUpdateTest()'>Save changes</button>
      </tr>
      <tr>
        <th>Test Name</th>
        <th>Description</th>
        <th>Test time limit</th>
        <th>Question time limit</th>
        <th>Questions</th>
      </tr>
      <tr>
        <td><input type='text' [(ngModel)]='selectedTest.Name'></td>
        <td><input type='text' [(ngModel)]='selectedTest.Description'></td>
        <td><input type='time' step="1" [(ngModel)]='selectedTest.TestTimeLimit'></td>
        <td><input type='time' step="1" [(ngModel)]='selectedTest.QuestionTimeLimit'></td>
        <td><button (click)='isShowTestEditDivValueChange()' style='float: right;'>Edit</button></td>
      </tr>
    </table>
  </div>
  <div *ngIf='isShowTestEditDiv'>
    <div>
      <app-create-question [selectedTest]='selectedTest'></app-create-question>
    </div>
  </div>
</div>