<div *ngIf="selectedTest">
  <div>
    <form #editTestForm="ngForm">
      <table class="table">
        <tr>
          <button [ngClass]="editTestForm.form.valid ? 'btn btn-success' : 'btn btn-default'" (click)="confirmUpdateTest()"
            [disabled]="!editTestForm.form.valid">Save changes</button>
        </tr>
        <tr>
          <th>Test Name</th>
          <th>Description</th>
          <th>Test time limit</th>
          <th>Question time limit</th>
          <th>Questions</th>
        </tr>
        <tr>
          <td><input class="form-control" type="text" name="testName" [(ngModel)]="selectedTest.Name" placeholder="Test name"
              required></td>
          <td><input class="form-control" type="text" name="testDescription" [(ngModel)]="selectedTest.Description"
              placeholder="Test description" required></td>
          <td><input class="form-control" type="time" step="1" name="timeforTest" [(ngModel)]="selectedTest.TestTimeLimit"
              required></td>
          <td><input class="form-control" type="time" step="1" name="timePerQuestion" [(ngModel)]="selectedTest.QuestionTimeLimit"
              required></td>
          <td><button class="btn" (click)="isShowTestEditDivValueChange()" style="float: right;">Edit</button></td>
        </tr>

      </table>
    </form>
  </div>
  <div *ngIf="isShowTestEditDiv">
    <div>
      <app-create-question [selectedTest]="selectedTest"></app-create-question>
    </div>
  </div>
</div>