table{
    table-layout: fixed;
    margin: auto;
    padding: 10px;
    border-collapse: collapse;
    width: 75%;
  }

  table td,th{
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-collapse: collapse; 
} 

input:placeholder-shown{
  border-color: red;
}